/*
Jazmin
The HTML5 framework for Convergence CMS

Author: Nate Cornelius

www.jazminframework.com
www.convergencecms.co

--------------------------

Reset.css
Reset Styles

These reset styles are an adaptation of Dave Gamache's reset styles;
www.davegamache.com. This is a great reset boilerplate for new 
convergence sites or even existing sites if you are having 
cross-browser issues with your styles.

--------------------------
*/


/*------------------
	    Reset
------------------*/
html { height: 100%; }
body { line-height: 1; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/*------------------
	Basic Sytles
------------------*/
body { background: #fff; color: #444; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; }
::selection {background-color: #ccc;}
::-moz-selection {background-color: #ccc;}


/*------------------
	 Typography
------------------*/
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1,h2,h3,h4,h5,h6{
	font-weight:bold;
	line-height:140%;
	font-weight: normal; 
	margin: 0 0 15px 0; 
}

h1 { font-size:3em; margin:10px 0 10px 0; }
h2 { font-size:2.5em; margin:10px 0 10px 0; }
h3 { font-size:2em; margin:10px 0 10px 0; line-height:130%; }
h4 { font-size:1.5em; margin:10px 0 10px 0; }
h5 { font-size:1.2em; margin:10px 0 10px 0; }
h6 { font-size:1em; margin:10px 0 5px 0; }

p{ line-height: 170%; color:#666; margin: 0; }
p img { margin: 0; }

em { font-style: italic; }
strong { font-weight: 700; }
small { font-size: 80%; color: #777; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

/* Horizontal Rules */
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 30px 0 30px; height: 0; }


/*------------------
	   Links
------------------*/
a { color: #8d6ba1; text-decoration: none; }
a:visited { color: #8d6ba1; }
a:hover { color: #2c103c; }
a:focus, a:hover, a:active { outline: 0; }


/*------------------
		Lists
------------------*/
ul, ol { margin-bottom: 20px; }
ul { list-style: disc outside; }
ol { list-style: decimal; margin-left: 30px; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; }
li p { line-height: 21px; }


/*------------------
	   Images
------------------*/
img { max-width: 100%; height: auto; }


/*------------------
	   Forms
------------------*/
form { margin-bottom: 20px; }
fieldset { margin-bottom: 20px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff; 
}

select { padding: 0; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); 
}

textarea { min-height: 60px; }

label,
legend {
	display: block;
	font-weight: bold;
	font-size: 13px;  
}

select { width: 220px; }
input[type="checkbox"] { display: inline; }

label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444; 
}


/*------------------
	Misc
------------------*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}